<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 m-5">
            <div class="row">
                <h1>Admin Login</h1>
                <hr>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 g-5">
                <label for="" class="labelcontrol">Username</label>
                <input name="usename" [(ngModel)]="usename" type="text" class="form-control">
            </div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 g-5">
                <label for="" class="labelcontrol">Password</label>
                <input name="password" [(ngModel)]="password" type="password" class="form-control">
            </div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 g-5">
                <button (click)="readValue()" class="btn btn-success">Login</button>
            </div>
        </div>
        </div>
    </div>
</div>