<app-nav></app-nav>
<div class="container mx-5">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 m-5 mb-1">
            <h1 class="text-center">CONTACT US</h1>
            <br>
            <img height="600px" width="100%" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQsX3cfUEhrC6xdDkW2zd6idWXgK9NK6ppAIQ&usqp=CAU" alt="">

        </div>
        <br>
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 m-5 mt-1 mx-5 bg-light" >
            <div class="row">
                <div class="col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6  p-5" >
                    <h3>NeST DIGITAL CORPORATE OFFICE</h3>
                    <p>Plot No. 2, Cochin Special Economic Zone
                        (CSEZ), Kakkanad, Cochin – 682 037, India
                        Phone: +91-484-661 4300</p>
                </div>
                <div class="col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6  p-5 bg-white" >
                    <h3>FOR BUSINESS RELATED ENQUIRIES</h3>
                    <p>Email: sales.nestdigital@nestgroup.net</p>
                    <p>Ph: +91-484-6701000, +91484-4203333</p>
            
                </div>
            
        </div>
    </div>
</div>