<app-nav-admin></app-nav-admin>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 m-5">
            <div class="row">
                <h1 class="text-secondary text-center">View Courses</h1>
                
                <br>
                <hr>
                <br>

                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                        <th scope="col">Duration</th>
                        <th scope="col">Date</th>
                        <th scope="col">Venue</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let i of data">
                        <td>{{i.courseTitle}}</td>
                        <td>{{i.courseDescription}}</td>
                        <td>{{i.courseDuration}}</td>
                        <td>{{i.courseDate}}</td>
                        <td>{{i.courseVenue}}</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</div>
